{% extends "base.html" %}{% load static %} {% block content %}

<div class="large-container">
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h3 class="display-4 fw-bolder">About the app</h3>
        <p class="lead fw-normal text-white-50 mb-0">
          Designed with our customers in mind
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <p align="justify">
          </br></br>
          <blockquote>
            Paragraph style #1. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reprehenderit consequuntur sequi dicta quis quam repellat iure soluta
            ipsa in animi dolor molestias consectetur, quo eum libero minima,
            accusantium alias nemo sunt illo modi adipisci, ut pariatur?
            Architecto tempore fugiat neque accusamus quam. Quas voluptatem
            facilis, blanditiis quasi iste ipsam perferendis quo necessitatibus
            deserunt? 
          
        </br></br>
             Maxime maiores assumenda inventore ullam. Hic sit dolorum
            magni, officia ex est molestiae nesciunt maiores unde! Placeat
            temporibus hic asperiores quisquam corporis, quo consequatur voluptate
            sed delectus architecto in explicabo suscipit dolorem, veritatis nam
            saepe voluptatum incidunt iste pariatur quas. Consequatur doloremque
            tenetur molestiae soluta doloribus eum!
        </blockquote>
        </br></br>
          </p>
        </div>
    </div>
  </div>
 
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h3 class="display-4 fw-bolder">About the company</h3>
        <p class="lead fw-normal text-white-50 mb-0">
          A legacy of quality
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <p align="justify">
          </br></br>
          Paragraph style #2. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reprehenderit consequuntur sequi dicta quis quam repellat iure soluta
            ipsa in animi dolor molestias consectetur, quo eum libero minima,
            accusantium alias nemo sunt illo modi adipisci, ut pariatur?
            Architecto tempore fugiat neque accusamus quam. Quas voluptatem
            facilis, blanditiis quasi iste ipsam perferendis quo necessitatibus
            deserunt? 
        </br></br>
            Maxime maiores assumenda inventore ullam. Hic sit dolorum
            magni, officia ex est molestiae nesciunt maiores unde! Placeat
            temporibus hic asperiores quisquam corporis, quo consequatur voluptate
            sed delectus architecto in explicabo suscipit dolorem, veritatis nam
            saepe voluptatum incidunt iste pariatur quas. Consequatur doloremque
            tenetur molestiae soluta doloribus eum!
        </br></br>
          </p>
        </div>
    </div>
  </div>
</div>
{% endblock %}
