{% extends "base.html" %}{% load static %} {% block content %}

<div class="large-container">
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h3 class="display-4 fw-bolder"></h3>
        <p class="lead fw-normal text-white-50 mb-0">
          Logged out. Redirecting...
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <br /><br />
          <br /><br />
          <br /><br />
        </div>
      </center>
    </div>
  </div>
</div>
{% endblock %}
