{% extends "base.html" %}{% load static %} {% block content %}

<div class="large-container">
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">REGISTER</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          All fields are required
        </p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <center>
        <div class="col-8">
          <br /><br />
          {% comment %} XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX {% endcomment %}

          <form method="POST" action={% url 'login' %}>
            {% csrf_token %}
            
          
          </form>

          {% comment %} XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX {% endcomment %}
        </div>
      </center>
    </div>
  </div>
</div>
{% endblock %}
